<footer class="text-right mt-6">
    <h2 class="font-mono font-medium">YEAH</h2>
    <p class="text-onSurfaceVariant text-xs font-mono">
        YEt Another Homepage.<br/>Designed and created with <span
            class="font-emj">❤️</span
    > by icekylin.<br/>View this project on Github.
    </p>
</footer>
