<a href="http://192.168.3.109:5000" target="_blank" rel="noopener noreferrer">
  <div
    class="py-4 border-t border-t-surfaceContainer hover:bg-surface transition-colors"
  >
    <div
      class="px-6 border-r border-r-surfaceContainer flex flex-col justify-center gap-2"
    >
      <div class="bg-primaryContainer w-6 h-6 rounded">
        <p class="text-center">🥝</p>
      </div>
      <h3>DSM</h3>
      <p class="text-outlineVariant text-xs font-mono">
        http://192.168.3.109:5000
      </p>
    </div>
  </div>
</a>
