---
import "@styles/font.css";
import "@styles/global.css";

interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="zh-CN" data-theme="light" class="bg-background">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{title}</title>
</head>
<body class="px-6 pt-4 pb-6 text-onSurface">
<div class="mx-auto max-w-screen-2xl">
    <slot/>
</div>
</body>
</html>
