---
import Layout from "../layouts/Layout.astro";
import {Image} from "astro:assets";
import IceCream from "../images/ice-cream.svg";
import Google from "../components/icon/Google.svelte";
import Magnify from "../components/icon/Magnify.svelte";
import LinkCards from "../components/home/LinkCards.svelte";
---

<Layout title="YEAH">
    <header></header>
    <main>
        <div class="relative">
            <Image
                    src={IceCream}
                    alt="searchbar background"
                    class={"absolute -z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"}
            />
            <div
                    class="bg-surfaceContainerHigh/60 backdrop-blur-lg rounded-lg max-w-3xl mx-auto my-64 px-3.5 py-2.5 flex items-center gap-3.5"
            >
                <div class="text-primary">
                    <Google/>
                </div>
                <textarea
                        name="search"
                        id="search"
                        cols="1"
                        rows="1"
                        class="bg-transparent w-full outline-none resize-none"
                        aria-autocomplete="both"
                        autocapitalize="off"
                        autocomplete="off"
                        spellcheck="false"
                        autofocus></textarea>
                <div class="text-onSurfaceVariant">
                    <Magnify/>
                </div>
            </div>
        </div>
        <section class="flex flex-col gap-4 relative">
            <LinkCards client:visible></LinkCards>
        </section>
    </main>
    <footer class="text-right mt-6">
        <h2 class="font-mono">YEAH</h2>
        <p class="text-onSurfaceVariant text-xs font-mono">
            YEt Another Homepage.<br/>Designed and created with <span
                class="font-emj">❤️</span
        > by icekylin.<br/>View this project on Github.
        </p>
    </footer>
</Layout>
