---
import Layout from "@layouts/Layout.astro";
import LinkCards from "@components/home/LinkCards.svelte";
import SearchBarWrapper from "@components/home/SearchBarWrapper.astro";
import Messages from "@components/home/Messages.svelte";
---

<Layout title="YEAH">
    <header></header>
    <main>
        <SearchBarWrapper></SearchBarWrapper>
        <Messages></Messages>
        <section class="flex flex-col gap-4 relative mt-6">
            <LinkCards client:visible></LinkCards>
        </section>
    </main>
    <footer class="text-right mt-6">
        <h2 class="font-mono font-medium">YEAH</h2>
        <p class="text-onSurfaceVariant text-xs font-mono">
            YEt Another Homepage.<br/>Designed and created with <span
                class="font-emj">❤️</span
        > by icekylin.<br/>View this project on Github.
        </p>
    </footer>
</Layout>
